## METODOLOGIAS DE RECOLHA DE DADOS - PROJECTO FINAL

Requisitos

- Autenticação: Garantir que conseguem autenticar, caso seja necessário. 
(2 valores)
- 3 endpoints diferentes: receber esta informação em 3 variáveis diferentes (3 
valores)
-Transformar esta resposta numa estrutura de dados que dê para trabalhar em 
Python. (3 valores)
- Guardar um destes endpoints num json. (1 valores)
- Web scrape pelo menos 3 elementos de uma página (3 valores)
- Criar, ligar-se a uma db e criar uma tabela para guardar esta informação (3 
valores)
- Guardar os elementos de Web scraping para essa tabela (3 valores)
- Especificação (2 valores)

In [183]:
import json
import requests 
from bs4 import BeautifulSoup

## Authentication + storing endpoint information in 3 different variables

- Specification: Using the Tronald Dump API (Api & web archive for the dumbest things Donald Trump has ever said), we want to
    authenticate using and api-key and reach 3 different endpoints, being them:<br>
    1 - GET Quote (get quote by ID)<br>
    2 - GET /tag (get quote by tag)<br>
    3 - GET /ramdom/quote (get random quote)

In [184]:
import requests

# get by quote id
get_quote_by_id = requests.get("https://matchilling-tronald-dump-v1.p.rapidapi.com/quote/VHKwB8crTte7--FqtIxq9A",
  headers={
    'x-rapidapi-host': "matchilling-tronald-dump-v1.p.rapidapi.com",
    'x-rapidapi-key': "Hb8iIxvlyumshiyQ6jjRBPad86Ajp1ZbrV6jsnLUWqar9lv6tv",
    'accept': "application/hal+json"
  }
)
#get_quote_by_id.json()

In [83]:
# get quotes by tag
get_quote_by_tag = requests.get("https://matchilling-tronald-dump-v1.p.rapidapi.com/tag/President Obama",
  headers={
    'x-rapidapi-host': "matchilling-tronald-dump-v1.p.rapidapi.com",
    'x-rapidapi-key': "Hb8iIxvlyumshiyQ6jjRBPad86Ajp1ZbrV6jsnLUWqar9lv6tv",
    'accept': "application/hal+json"
  }
)
#get_quote__by_tag.json()

In [78]:
# get random quote
get_random_quote = requests.get("https://matchilling-tronald-dump-v1.p.rapidapi.com/random/quote",
  headers={
    'x-rapidapi-host': "matchilling-tronald-dump-v1.p.rapidapi.com",
    'x-rapidapi-key': "Hb8iIxvlyumshiyQ6jjRBPad86Ajp1ZbrV6jsnLUWqar9lv6tv",
    'accept': "application/hal+json"
  }
)
#get_random_quote.json()

- Note: Endpoint information storing could be done separating base_url from endpoint:

In [92]:
base_url = "https://matchilling-tronald-dump-v1.p.rapidapi.com/"
end_point_random_quote = "random/quote"
end_point_quote_by_id = "VHKwB8crTte7--FqtIxq9A"
end_point_quote_by_tag = "President Obama"

# example for getting random quote
response = requests.get(base_url + end_point_random_quote, 
    headers={
        'x-rapidapi-host': "matchilling-tronald-dump-v1.p.rapidapi.com",
        'x-rapidapi-key': "Hb8iIxvlyumshiyQ6jjRBPad86Ajp1ZbrV6jsnLUWqar9lv6tv",
        'accept': "application/hal+json"
    })

#response.json()

## Transform response into a Python-friendly structure - Dictionary

- Specification: we want to save the API's response into a dictionary, so that we can easily manipulate it later on.

In [122]:
# Transform quote_by_id into dictionary
decoded_quote_by_id = get_by_quote_id.content.decode('utf-8')
quote_by_id_json_dict = json.loads(decoded_quote_by_id)
quote_by_id_json_dict
type(quote_by_id_json_dict)

dict

In [121]:
# Transform quote_by_tag into dictionary
decoded_quote_by_tag = get_quote_by_tag.content.decode('utf-8')
quote_by_tag_json_dict = json.loads(decoded_quote_by_tag)
quote_by_tag_json_dict
type(quote_by_tag_json_dict)

dict

In [123]:
# Transform random_quote into dictionary
decoded_random_quote = get_random_quote.content.decode('utf-8')
random_quote_json_dict = json.loads(decoded_random_quote)
random_quote_json_dict
type(random_quote_json_dict)

dict

## Saving endpoint in JSON

- Specification: We want to save the content of the random quote endpoint in a JSON file.

In [185]:
# This creates a .json file in the same directory
with open('random_quote_json.json', 'w') as output_file:
    json.dump(random_quote_json_dict, output_file)

#random_quote_json_dict

## Web scrape (3 elements of a page)

- Specification: We want to web scrape 3 elements of the page https://www.boredpanda.com/lazy-animals-illustration-guodong-zhao/ :<br>Title of the post, author(s) and time ago.

In [126]:
def get_data(url, parse):
    """
    returns a parsed html 
    """
    raw_html = requests.get(url, parse).content
    return BeautifulSoup(raw_html)

In [137]:
url = "https://www.boredpanda.com/lazy-animals-illustration-guodong-zhao/"
html = get_data(url, 'html.parse')
#html

In [146]:
# Fetch Title <h1 class "post-title">
title = html.find("h1", class_="post-title")
title.get_text()

'Chinese Artist Pokes Fun At Our Lazy Generation By Creating 20 Slothful Animals Engrossed In Technology'

In [166]:
# Fetch time ago <span class = "date-info">
x_time_ago = html.find("span", class_="date-info")
x_time_ago.get_text()

'5 hours ago'

In [186]:
# Fetch authors <span class = "post-author-links"
authors = html.find("span", class_="post-authors-links")
authors.get_text()

'Hidreley and Airinga Cheerwin  '

## Create DB, connect and create table to store previous information

- Specification: We want to create an sqlite database, and store the information we gathered from the web scrapping process<br> (post-title, author(s) and time ago)

In [182]:
import pandas as pd
# Create DataFrame with scrapping data
d = {'title': [title.get_text()],'authors': [authors.get_text()],'time_ago':[x_time_ago.get_text()]}

df = pd.DataFrame(d)
df

,title,authors,time_ago
0,Chinese Artist Pokes Fun At Our Lazy Generatio...,Hidreley and Airinga Cheerwin,5 hours ago

In [189]:
# Create DB
import sqlite3

db = 'python.sqlite.db'

In [199]:
query_create_table = """ CREATE TABLE IF NOT EXISTS bored_panda_data (
                                    title,
                                    authors,
                                    time_ago
                                ); """

In [228]:
# start connection
conn = sqlite3.connect(db)
# create cursor
cur = conn.cursor()

In [229]:
cur.execute(query_create_table)

In [230]:
query = """
    INSERT INTO bored_panda_data
    (title, authors, time_ago)
    VALUES ({}, {}, {})
"""

In [231]:
for _, row in df.iterrows():
    print(row)
    break

title       Chinese Artist Pokes Fun At Our Lazy Generatio...
authors                       Hidreley and Airinga Cheerwin
time_ago                                          5 hours ago
Name: 0, dtype: object

In [232]:
for _, row in df.iterrows():
    #cur.execute(query.format(row['title'], row['authors'], row['time_ago']))
    cur.execute("INSERT INTO bored_panda_data VALUES (?, ?, ?)", (row['title'], row['authors'], row['time_ago']))
conn.commit()

# first execute gave problems, see: https://stackoverflow.com/questions/30257826/sqlite3-operationalerror-near-syntax-error-python

In [234]:
pd.read_sql('select * from bored_panda_data', con=conn)

#Note: The fact of the table having 3 rows despite the DataFrame having 1, is due to 3 executions of the same commit

,title,authors,time_ago
0,Chinese Artist Pokes Fun At Our Lazy Generatio...,Hidreley and Airinga Cheerwin,5 hours ago
1,Chinese Artist Pokes Fun At Our Lazy Generatio...,Hidreley and Airinga Cheerwin,5 hours ago
2,Chinese Artist Pokes Fun At Our Lazy Generatio...,Hidreley and Airinga Cheerwin,5 hours ago

In [222]:
# close connection in order to avoid memory leaks
conn.close()